In [ ]:
#Solution 1
#What is a database? Differentiate between SQL and NoSQL databases.

#A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
#Difference between SQL and NoSQL

#SQL
#1) RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
#2) These databases have fixed or static or predefined schema
#3) These databases are not suited for hierarchical data storage.
#4) These databases are best suited for complex queries
#5) Vertically Scalable
#6) Follows ACID property
#7) Examples:  MySQL, PostgreSQL, Oracle, MS-SQL Server, etc

#NoSQL
#1) Non-relational or distributed database system.
#2) They have a dynamic schema
#3) These databases are best suited for hierarchical data storage.
#4) These databases are not so good for complex queries
#5) Horizontally Scalable
#6) Follows CAP(consistency, availability, partition tolerance)
#7) Examples:  MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

In [1]:
#Solution2
#What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. 
#These database objects include views, schemas, tables, indexes, etc.

#CREATE
#The CREATE TABLE command creates a new table in the database.
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

#DROP
#The DROP TABLE command deletes a table in the database.
DROP TABLE Persons;

#ALTER
#The ALTER TABLE command adds, deletes, or modifies columns in a table.
ALTER TABLE Persons
ADD Email varchar(255);

#TURNCATE
#The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
TRUNCATE TABLE City;

In [6]:
#Solution 3
#What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#Data Manipulation Language is a subset of SQL used to manipulate the existing data in the database. DML commands are not auto-committed. 
#Users have to commit (i.e. save all the changes permanently in the database) them manually. INSERT, UPDATE, DELETE and SELECT are some of the common DDL commands.

#Examples
#Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);
#SELECT * from Employee;
#DELETE from Employee WHERE Emp_id=001;
#UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;

In [7]:
#Solutiob 4
#What is DQL? Explain SELECT with an example.

#DQL is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it.
#Query to fetch the fields CustomerName, LastName from the table Customer:
#SELECT CustomerName, LastName FROM Customer;

In [8]:
#Solution 5
#Explain Primary Key and Foreign Key.

#Primary Key
#A primary key is used to ensure data in the specific column is unique. It uniquely identifies a record in the relational database table. 
#Only one primary key is allowed in a table.

#Foreign Key
#A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
#It refers to the field in a table which is the primary key of another table.
#Whereas more than one foreign key is allowed in a table.

In [10]:
#Solution 6
#Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
    'host' = 'localhost',
    'user' = 'admin',
    'password' = 'password'
)

#cursor() method
# Cursor method is used to create an object which helps to execute the query and fetch the records from the database.

#execute() method
#This method accepts a MySQL query as a parameter and executes the given query.

In [ ]:
#Solution 7
#Give the order of execution of SQL clauses in an SQL query.

#FROM/JOIN
#WHERE
#GROUP BY
#HAVING
#SELECT
#ORDER BY
#LIMIT/OFFSET